In [1]:
import requests

API_ROOT = 'http://api.nytimes.com/svc/search/v2/articlesearch.'

API_SIGNUP_PAGE = 'http://developer.nytimes.com/docs/reference/keys'

class NoAPIKeyException(Exception):
    def __init__(self, value):
        self.value = value
    def __str__(self):
        return repr(self.value)

class articleAPI(object):
    def __init__(self, key = None):
        """
        Initializes the articleAPI class with a developer key. Raises an exception if a key is not given.

        Request a key at http://developer.nytimes.com/docs/reference/keys

        :param key: New York Times Developer Key

        """
        self.key = key
        self.response_format = 'json'

        if self.key is None:
            raise NoAPIKeyException('Warning: Missing API Key. Please visit ' + API_SIGNUP_PAGE + ' to register for a key.')

    def _bool_encode(self, d):
        """
        Converts boolean values to lowercase strings

        """
        for k, v in d.items():
            if isinstance(v, bool):
                d[k] = str(v).lower()

        return d

    def _options(self, **kwargs):
        """
        Formats search parameters/values for use with API

        :param \*\*kwargs: search parameters/values

        """
        def _format_fq(d):
            for k,v in d.items():
                if isinstance(v, list):
                    d[k] = ' '.join(map(lambda x: '"' + x + '"', v))
                else:
                    d[k] = '"' + v + '"'
            values = []
            for k,v in d.items():
                value = '%s:(%s)' % (k,v)
                values.append(value)
            values = ' AND '.join(values)
            return values

        kwargs = self._bool_encode(kwargs)

        values = ''

        for k, v in kwargs.items():
            if k is 'fq' and isinstance(v, dict):
                v = _format_fq(v)
            elif isinstance(v, list):
                v = ','.join(v)
            values += '%s=%s&' % (k, v)

        return values

    def search(self,
                response_format = None,
                key = None,
                **kwargs):
        """
        Calls the API and returns a dictionary of the search results

        :param response_format: the format that the API uses for its response,
                                includes JSON (.json) and JSONP (.jsonp).
                                Defaults to '.json'.

        :param key: a developer key. Defaults to key given when the articleAPI class was initialized.

        """
        if response_format is None:
            response_format = self.response_format
        if key is None:
            key = self.key

        url = '%s%s?%sapi-key=%s' % (
            API_ROOT, response_format, self._options(**kwargs), key
        )

        self.req = requests.get(url)
        return self.req.json()

In [6]:
articles = api.search(q="Obama", 
                          fq={"headline": "Obama", 
                              "source": ["Reuters", 
                                         "AP", 
                                         "The New York Times"]}, 
                          begin_date="20161001", # this can also be an int
                          facet_field=["source", "day_of_week"], 
                          facet_filter=True)

In [5]:
api = articleAPI('vyk8e6eHS3dV0Un4RkS6RSccPkMnrbbo')

In [29]:
start_year = 2002
end_year = 2019
country = 'Sweden'
dictionary = 'Vote, Ballot, Poll'

In [92]:
import numpy as np
import pandas as pd
import time
import re
import requests
from bs4 import BeautifulSoup

def parse_articles(articles):
    
    news = []
    
    for i in articles['response']['docs']:
        
        dic = {}
        dic['date'] = i['pub_date'][0:10] # cutting time of day.
        dic['atype'] = i['type_of_material']
        dic['url'] = i['web_url']
        dic['word_count'] = int(i['word_count'])
        dic['lead_par'] = i['lead_paragraph']
        news.append(dic)
        
    return news

def get_articles_url(api, country, start_year, end_year):
    
    all_articles = []
    year = start_year
    
    print('Retrieving articles URL...'),
    
    #Loop through all years of interest
    while year <= end_year:
        
        # Some pages might return a 'No JSON object could be decoded'
        # Example: country = Turkey, year = 1998, page 4
        # To keep this error from stopping the loop a try/except was used.
        for i in range(0,100):

            try:
                # Call API method with the parameters discussed on the README file
                articles = api.search(
                    fq = {'source':['The New York Times'], 
                          'glocations':(country), 
                          'news_desk':('Foreign')}, 
                    begin_date = str(year) + '0101', 
                    end_date = str(year) + '0131', 
                    sort = 'oldest', page = str(i))
                
                # Check if page is empty
                if articles['response']['docs'] == []: break
                
                articles = parse_articles(articles)
                all_articles = all_articles + articles
                
            except Exception:

                pass
            
            # Avoid overwhelming the API
            time.sleep(1)
            
        year += 1
    
    # Copy all articles on the list to a Pandas dataframe
    articles_df = pd.DataFrame(all_articles)
    
    # Make sure we filter out non-news articles and remove 'atype' column
    #articles_df = articles_df.drop(articles_df[articles_df.atype != 'News'].index)
    #articles_df.drop('atype', axis = 1, inplace = True)
    
    # Discard non-working links (their number of word_count is 0).
    # Example: http://www.nytimes.com/2001/11/06/world/4-die-during-police-raid-in-istanbul.html
   # articles_df = articles_df[articles_df.word_count != 0]
    articles_df = articles_df.reset_index(drop = True)
    
    print('Done!')
    
    return(articles_df)

def scarp_articles_text(articles_df):
    
    # Unable false positive warning from Pandas dataframe manipulation
    pd.options.mode.chained_assignment = None
    
    articles_df['article_text'] = 'NaN'
    session = requests.Session()
    
    print('Scarping articles body text...'),
    
    for j in range(0, len(articles_df)):
        
        url = articles_df['url'][j]
        req = session.get(url)
        soup = BeautifulSoup(req.text, 'lxml')

        # Get only HTLM tags with article content
        # Articles through 1986 are found under different p tag 
        paragraph_tags = soup.find_all('p', class_= 'story-body-text story-content')
        if paragraph_tags == []:
            paragraph_tags = soup.find_all('p', itemprop = 'articleBody')

        # Put together all text from HTML p tags
        article = ''
        for p in paragraph_tags:
            article = article + ' ' + p.get_text()

        # Clean article replacing unicode characters
        article = article.replace(u'\u2018', u"'").replace(u'\u2019', u"'").replace(u'\u201c', u'"').replace(u'\u201d', u'"')

        # Copy article's content to the dataframe
        articles_df['article_text'][j] = article
    
    print('Done!')
    
    return articles_df

In [45]:
articles_df = get_articles_url(api, country, start_year, end_year)
articles_df.tail()

Retrieving articles URL...
Done!

,atype,date,lead_par,url,word_count
15,News,2016-01-31,"HALMSTAD, Sweden — Scores of masked men dresse...",https://www.nytimes.com/2016/02/01/world/europ...,394
16,News,2017-01-19,"LONDON — Julian Assange, the WikiLeaks founder...",https://www.nytimes.com/2017/01/19/world/europ...,526
17,News,2018-01-23,BEIJING — China on Tuesday publicly rebuffed d...,https://www.nytimes.com/2018/01/23/world/asia/...,790
18,News,2019-01-02,"HALMSTAD, Sweden — Maria Hussein, who escaped ...",https://www.nytimes.com/2019/01/02/world/europ...,1288
19,News,2019-01-18,STOCKHOLM — After a deadlock lasting more than...,https://www.nytimes.com/2019/01/18/world/europ...,849

In [11]:
year = 2003

In [12]:
i=1

In [33]:
 articles = api.search(
                    fq = {'source':['The New York Times'], 
                          'glocations':(country), 
                          'news_desk':('Foreign')}, 
                    begin_date = str(year) + '0101', 
                    end_date = str(2019) + '0131', 
                    sort = 'oldest', page = str(i))

In [34]:
articles

{'status': 'OK',
 'copyright': 'Copyright (c) 2019 The New York Times Company. All Rights Reserved.',
 'response': {'docs': [{'web_url': 'https://www.nytimes.com/2008/01/04/obituaries/04bolin.html',
    'snippet': 'Bert Bolin was a pioneering climatologist and the first chairman of the United Nations Intergovernmental Panel on Climate Change. ',
    'lead_paragraph': 'Bert Bolin, a pioneering climatologist and the first chairman of the United Nations Intergovernmental Panel on Climate Change, which shared the 2007 Nobel Peace Prize with former Vice President Al Gore for their warnings about global warming, died Sunday in Stockholm. He was 82.',
    'abstract': 'Bert Bolin was a pioneering climatologist and the first chairman of the United Nations Intergovernmental Panel on Climate Change. ',
    'print_page': '7',
    'source': 'The New York Times',
    'multimedia': [{'rank': 0,
      'subtype': 'articleInline',
      'caption': None,
      'credit': None,
      'type': 'image',
      'url': 'images/2008/01/04/world/04bolin.190.jpg',
      'height': 241,
      'width': 190,
      'legacy': {},
      'subType': 'articleInline',
      'crop_name': 'articleInline'},
     {'rank': 0,
      'subtype': 'thumbnail',
      'caption': None,
      'credit': None,
      'type': 'image',
      'url': 'images/2008/01/04/world/04bolin.75.jpg',
      'height': 75,
      'width': 75,
      'legacy': {'thumbnail': 'images/2008/01/04/world/04bolin.75.jpg',
       'thumbnailwidth': 75,
       'thumbnailheight': 75},
      'subType': 'thumbnail',
      'crop_name': 'thumbStandard'}],
    'headline': {'main': 'Bert Bolin, 82, Is Dead; Led U.N. Climate Panel',
     'kicker': None,
     'content_kicker': None,
     'print_headline': 'Bert Bolin, 82, Is Dead; Led U.N. Climate Panel',
     'name': None,
     'seo': None,
     'sub': None},
    'keywords': [{'name': 'subject',
      'value': 'Deaths (Obituaries)',
      'rank': 1,
      'major': 'N'},
     {'name': 'glocations', 'value': 'Sweden', 'rank': 2, 'major': 'N'},
     {'name': 'organizations',
      'value': 'United Nations Intergovernmental Panel on Climate Change',
      'rank': 3,
      'major': 'N'},
     {'name': 'subject', 'value': 'Global Warming', 'rank': 4, 'major': 'N'},
     {'name': 'subject',
      'value': 'Science and Technology',
      'rank': 5,
      'major': 'N'}],
    'pub_date': '2008-01-04T05:00:00+0000',
    'document_type': 'article',
    'news_desk': 'Foreign',
    'section_name': 'Obituaries',
    'byline': {'original': 'By Dennis Hevesi',
     'person': [{'firstname': 'Dennis',
       'middlename': None,
       'lastname': 'Hevesi',
       'qualifier': None,
       'title': None,
       'role': 'reported',
       'organization': '',
       'rank': 1}],
     'organization': None},
    'type_of_material': 'Obituary (Obit)',
    '_id': 'nyt://article/999a0ed1-663f-5ef5-989f-d56ea76ea96a',
    'word_count': 690,
    'uri': 'nyt://article/999a0ed1-663f-5ef5-989f-d56ea76ea96a'},
   {'web_url': 'https://www.nytimes.com/2008/02/29/world/europe/29scandinavia.html',
    'snippet': 'In coordinated raids, six people were arrested on suspicion of financing or otherwise taking part in terrorist activity.',
    'lead_paragraph': 'OSLO, \x97 In coordinated raids, the Swedish and Norwegian security services on Thursday arrested six people on suspicion of financing or otherwise taking part in terrorist activity.',
    'abstract': 'In coordinated raids, six people were arrested on suspicion of financing or otherwise taking part in terrorist activity.',
    'source': 'The New York Times',
    'multimedia': [],
    'headline': {'main': 'Sweden and Norway Hold 6 on Terror-Related Charges',
     'kicker': None,
     'content_kicker': None,
     'print_headline': None,
     'name': None,
     'seo': None,
     'sub': None},
    'keywords': [{'name': 'glocations',
      'value': 'Somalia',
      'rank': 1,
      'major': 'N'},
     {'name': 'glocations', 'value': 'Sweden', 'rank': 2, 'major': 'N'},
     {'name': 'glocations', 'value': 'Norway', 'rank': 3, 'major': 'N'},
     {'name': 'subject', 'value': 'Terrorism', 'rank': 4, 'major': 'N'}],
    'pub_date': '2008-02-29T05:00:00+0000',
    'document_type': 'article',
    'news_desk': 'Foreign',
    'section_name': 'World',
    'subsection_name': 'Europe',
    'byline': {'original': 'By Walter Gibbs',
     'person': [{'firstname': 'Walter',
       'middlename': None,
       'lastname': 'Gibbs',
       'qualifier': None,
       'title': None,
       'role': 'reported',
       'organization': '',
       'rank': 1}],
     'organization': None},
    'type_of_material': 'News',
    '_id': 'nyt://article/54c0fa2a-45b6-5851-9ace-1f0dc05977c2',
    'word_count': 419,
    'uri': 'nyt://article/54c0fa2a-45b6-5851-9ace-1f0dc05977c2'},
   {'web_url': 'https://www.nytimes.com/2008/06/06/business/worldbusiness/06telecom.html',
    'snippet': 'France Telecom offered $42 billion in cash and stock for TeliaSonera in the latest bid by a European wireless operator for a bigger foothold in emerging markets.',
    'lead_paragraph': 'BERLIN \x97 France Telecom on Thursday offered $42 billion in cash and stock for TeliaSonera, the Swedish-Finnish phone company with holdings across the former Soviet Union, in the latest bid by a European operator to enter faster-growing emerging markets.',
    'abstract': 'France Telecom offered $42 billion in cash and stock for TeliaSonera in the latest bid by a European wireless operator for a bigger foothold in emerging markets.',
    'source': 'The New York Times',
    'multimedia': [],
    'headline': {'main': '$42 Billion French Bid for TeliaSonera',
     'kicker': None,
     'content_kicker': None,
     'print_headline': 'France Telecom Bids $42 Billion for TeliaSonera',
     'name': None,
     'seo': None,
     'sub': None},
    'keywords': [{'name': 'subject',
      'value': 'Mergers, Acquisitions and Divestitures',
      'rank': 1,
      'major': 'N'},
     {'name': 'glocations', 'value': 'Turkey', 'rank': 2, 'major': 'N'},
     {'name': 'subject',
      'value': 'Wireless Communications',
      'rank': 3,
      'major': 'N'},
     {'name': 'organizations',
      'value': 'France Telecom',
      'rank': 4,
      'major': 'N'},
     {'name': 'subject',
      'value': 'Telephones and Telecommunications',
      'rank': 5,
      'major': 'N'},
     {'name': 'glocations', 'value': 'France', 'rank': 6, 'major': 'N'},
     {'name': 'organizations',
      'value': 'TeliaSonera AB',
      'rank': 7,
      'major': 'N'},
     {'name': 'glocations', 'value': 'Sweden', 'rank': 8, 'major': 'N'},
     {'name': 'subject',
      'value': 'Cellular Telephones',
      'rank': 9,
      'major': 'N'}],
    'pub_date': '2008-06-06T04:00:00+0000',
    'document_type': 'article',
    'news_desk': 'Foreign',
    'section_name': 'Business Day',
    'subsection_name': 'World Business',
    'byline': {'original': "By Kevin J. O'Brien",
     'person': [{'firstname': 'Kevin',
       'middlename': 'J.',
       'lastname': "O'Brien",
       'qualifier': None,
       'title': None,
       'role': 'reported',
       'organization': '',
       'rank': 1}],
     'organization': None},
    'type_of_material': 'News',
    '_id': 'nyt://article/e76322eb-42e6-56c5-a66a-e5c129f67dee',
    'word_count': 731,
    'uri': 'nyt://article/e76322eb-42e6-56c5-a66a-e5c129f67dee'},
   {'web_url': 'https://www.nytimes.com/2008/12/06/world/europe/06briefs-BOSNIANDENIE_BRF.html',
    'snippet': 'The only woman to be convicted of war crimes in the Balkans, Biljana Plavsic, has had her request for an early release rejected for the second time by the government of Sweden.',
    'lead_paragraph': ' The only woman to be convicted of war crimes in the Balkans, Biljana Plavsic, has had her request for an early release rejected for the second time by the government of Sweden, where she is serving an 11-year sentence. Mrs. Plavsic, 78, a former president of Bosnia, surrendered to the war crimes tribunal in The Hague in 2001 and pleaded guilty to persecution, a crime against humanity. She was among the promoters of the violent Serbian campaign of ethnic separation that killed tens of thousands of Muslims and Croats in the 1990s. She asked to be released in 2004 and asked again this year, citing her age and poor health. Sweden gave no reason for refusing her request. ',
    'abstract': 'The only woman to be convicted of war crimes in the Balkans, Biljana Plavsic, has had her request for an early release rejected for the second time by the government of Sweden.',
    'print_page': '8',
    'source': 'The New York Times',
    'multimedia': [],
    'headline': {'main': 'Sweden: Bosnian Denied Release',
     'kicker': 'World Briefing | Europe',
     'content_kicker': None,
     'print_headline': 'Sweden: Bosnian Denied Release',
     'name': None,
     'seo': None,
     'sub': None},
    'keywords': [{'name': 'subject',
      'value': 'War Crimes, Genocide and Crimes Against Humanity',
      'rank': 1,
      'major': 'N'},
     {'name': 'glocations', 'value': 'Sweden', 'rank': 2, 'major': 'N'},
     {'name': 'glocations',
      'value': 'Bosnia and Herzegovina',
      'rank': 3,
      'major': 'N'},
     {'name': 'persons',
      'value': 'Plavsic, Biljana',
      'rank': 4,
      'major': 'N'}],
    'pub_date': '2008-12-06T01:23:24+0000',
    'document_type': 'article',
    'news_desk': 'Foreign',
    'section_name': 'World',
    'subsection_name': 'Europe',
    'byline': {'original': 'By Marlise Simons',
     'person': [{'firstname': 'Marlise',
       'middlename': None,
       'lastname': 'Simons',
       'qualifier': None,
       'title': None,
       'role': 'reported',
       'organization': '',
       'rank': 1}],
     'organization': None},
    'type_of_material': 'Brief',
    '_id': 'nyt://article/57245883-1511-592a-98ec-d927c98ed3e5',
    'word_count': 121,
    'uri': 'nyt://article/57245883-1511-592a-98ec-d927c98ed3e5'},
   {'web_url': 'https://www.nytimes.com/2009/02/06/world/europe/06sweden.html',
    'snippet': 'Sweden’s government says it plans to tear up a nearly 30-year-old decision to phase out nuclear power and lift a ban on building new reactors.',
    'lead_paragraph': 'BRUSSELS \x97 The Swedish government on Thursday proposed refreshing its nuclear power industry, joining a growing list of European nations considering putting the technology in the forefront of future energy plans. ',
    'abstract': 'Sweden’s government says it plans to tear up a nearly 30-year-old decision to phase out nuclear power and lift a ban on building new reactors.',
    'print_page': '10',
    'source': 'The New York Times',
    'multimedia': [],
    'headline': {'main': 'Sweden Wants to Lift Reactor Ban',
     'kicker': None,
     'content_kicker': None,
     'print_headline': 'Sweden May Revive Nuclear Industry',
     'name': None,
     'seo': None,
     'sub': None},
    'keywords': [{'name': 'glocations',
      'value': 'Sweden',
      'rank': 1,
      'major': 'N'},
     {'name': 'subject', 'value': 'ATOMIC ENERGY', 'rank': 2, 'major': 'N'}],
    'pub_date': '2009-02-05T10:36:47+0000',
    'document_type': 'article',
    'news_desk': 'Foreign',
    'section_name': 'World',
    'subsection_name': 'Europe',
    'byline': {'original': 'By The New York Times',
     'person': [],
     'organization': 'The New York Times'},
    'type_of_material': 'News',
    '_id': 'nyt://article/22c51a52-d586-59a6-94ef-d2190ab5b632',
    'word_count': 135,
    'uri': 'nyt://article/22c51a52-d586-59a6-94ef-d2190ab5b632'},
   {'web_url': 'https://www.nytimes.com/2009/03/23/world/europe/23saab.html',
    'snippet': 'The carmaker has fallen on hard times in a country where Nordic socialism has fallen out of favor.',
    'lead_paragraph': 'TROLLHATTAN, Sweden — Saab Automobile may be just another crisis-ridden car company in an industry full of them. But just as the fortunes of Flint, Mich., are permanently entangled with General Motors, so it is impossible to find anyone in this city in southwest Sweden who is not somehow connected to Saab. ',
    'abstract': 'The carmaker has fallen on hard times in a country where Nordic socialism has fallen out of favor.',
    'print_page': '1',
    'source': 'The New York Times',
    'multimedia': [{'rank': 0,
      'subtype': 'xlarge',
      'caption': None,
      'credit': None,
      'type': 'image',
      'url': 'images/2009/03/23/world/23saab01-600.jpg',
      'height': 320,
      'width': 600,
      'legacy': {'xlarge': 'images/2009/03/23/world/23saab01-600.jpg',
       'xlargewidth': 600,
       'xlargeheight': 320},
      'subType': 'xlarge',
      'crop_name': 'articleLarge'},
     {'rank': 0,
      'subtype': 'popup',
      'caption': None,
      'credit': None,
      'type': 'image',
      'url': 'images/2009/03/23/world/23saab01-600.jpg',
      'height': 320,
      'width': 600,
      'legacy': {},
      'subType': 'popup',
      'crop_name': 'popup'},
     {'rank': 0,
      'subtype': 'articleInline',
      'caption': None,
      'credit': None,
      'type': 'image',
      'url': 'images/2009/03/23/world/23saab01-190.jpg',
      'height': 127,
      'width': 190,
      'legacy': {},
      'subType': 'articleInline',
      'crop_name': 'articleInline'},
     {'rank': 0,
      'subtype': 'sfSpan',
      'caption': None,
      'credit': None,
      'type': 'image',
      'url': 'images/2009/03/23/world/23saab01-395.jpg',
      'height': 250,
      'width': 395,
      'legacy': {},
      'subType': 'sfSpan',
      'crop_name': 'sfSpan'},
     {'rank': 0,
      'subtype': 'thumbnail',
      'caption': None,
      'credit': None,
      'type': 'image',
      'url': 'images/2009/03/23/world/23saab01-75.jpg',
      'height': 75,
      'width': 75,
      'legacy': {'thumbnail': 'images/2009/03/23/world/23saab01-75.jpg',
       'thumbnailwidth': 75,
       'thumbnailheight': 75},
      'subType': 'thumbnail',
      'crop_name': 'thumbStandard'}],
    'headline': {'main': 'Sweden Says No to Saving Saab',
     'kicker': None,
     'content_kicker': None,
     'print_headline': 'Sweden Says No To Saving Saab, A National Icon',
     'name': None,
     'seo': None,
     'sub': None},
    'keywords': [{'name': 'glocations',
      'value': 'Sweden',
      'rank': 1,
      'major': 'N'},
     {'name': 'organizations',
      'value': 'Saab Automobile AB',
      'rank': 2,
      'major': 'N'},
     {'name': 'subject',
      'value': 'Subprime Mortgage Crisis',
      'rank': 3,
      'major': 'N'},
     {'name': 'subject', 'value': 'Automobiles', 'rank': 4, 'major': 'N'}],
    'pub_date': '2009-03-23T01:18:37+0000',
    'document_type': 'article',
    'news_desk': 'Foreign',
    'section_name': 'World',
    'subsection_name': 'Europe',
    'byline': {'original': 'By Sarah Lyall',
     'person': [{'firstname': 'Sarah',
       'middlename': None,
       'lastname': 'Lyall',
       'qualifier': None,
       'title': None,
       'role': 'reported',
       'organization': '',
       'rank': 1}],
     'organization': None},
    'type_of_material': 'News',
    '_id': 'nyt://article/ffb2e258-94b2-5cf9-b618-8d130105ce77',
    'word_count': 1145,
    'uri': 'nyt://article/ffb2e258-94b2-5cf9-b618-8d130105ce77'},
   {'web_url': 'https://www.nytimes.com/2009/04/18/world/europe/18copy.html',
    'snippet': 'The verdict in Sweden against The Pirate Bay represents a high-profile victory for the music and movie industries.',
    'lead_paragraph': 'PARIS \x97 A court in Sweden on Friday convicted four men linked to the notorious Internet file-sharing service The Pirate Bay of violating copyright law, handing the music and movie industries a high-profile victory in their campaign to curb online piracy.',
    'abstract': 'The verdict in Sweden against The Pirate Bay represents a high-profile victory for the music and movie industries.',
    'source': 'The New York Times',
    'multimedia': [{'rank': 0,
      'subtype': 'xlarge',
      'caption': None,
      'credit': None,
      'type': 'image',
      'url': 'images/2009/04/17/business/global/swedenpirate600.jpg',
      'height': 280,
      'width': 600,
      'legacy': {'xlarge': 'images/2009/04/17/business/global/swedenpirate600.jpg',
       'xlargewidth': 600,
       'xlargeheight': 280},
      'subType': 'xlarge',
      'crop_name': 'articleLarge'},
     {'rank': 0,
      'subtype': 'popup',
      'caption': None,
      'credit': None,
      'type': 'image',
      'url': 'images/2009/04/17/business/global/swedenpirate600.jpg',
      'height': 280,
      'width': 600,
      'legacy': {},
      'subType': 'popup',
      'crop_name': 'popup'},
     {'rank': 0,
      'subtype': 'sfSpan',
      'caption': None,
      'credit': None,
      'type': 'image',
      'url': 'images/2009/04/17/business/global/swedenpirate395.jpg',
      'height': 220,
      'width': 395,
      'legacy': {},
      'subType': 'sfSpan',
      'crop_name': 'sfSpan'},
     {'rank': 0,
      'subtype': 'thumbnail',
      'caption': None,
      'credit': None,
      'type': 'image',
      'url': 'images/2009/04/17/business/global/swedenpirate75.jpg',
      'height': 75,
      'width': 75,
      'legacy': {'thumbnail': 'images/2009/04/17/business/global/swedenpirate75.jpg',
       'thumbnailwidth': 75,
       'thumbnailheight': 75},
      'subType': 'thumbnail',
      'crop_name': 'thumbStandard'}],
    'headline': {'main': 'File-Sharing Site Violated Copyright, Court Says',
     'kicker': None,
     'content_kicker': None,
     'print_headline': 'Swedish Court Finds 4 Pirate Bay Defendants Guilty of Violating Copyright Law',
     'name': None,
     'seo': None,
     'sub': None},
    'keywords': [{'name': 'subject',
      'value': 'Recordings and Downloads (Audio)',
      'rank': 1,
      'major': 'N'},
     {'name': 'glocations', 'value': 'Sweden', 'rank': 2, 'major': 'N'},
     {'name': 'subject', 'value': 'COPYRIGHTS', 'rank': 3, 'major': 'N'},
     {'name': 'subject',
      'value': 'Computers and the Internet',
      'rank': 4,
      'major': 'N'}],
    'pub_date': '2009-04-17T10:13:20+0000',
    'document_type': 'article',
    'news_desk': 'Foreign',
    'section_name': 'World',
    'subsection_name': 'Europe',
    'byline': {'original': 'By Eric Pfanner',
     'person': [{'firstname': 'Eric',
       'middlename': None,
       'lastname': 'Pfanner',
       'qualifier': None,
       'title': None,
       'role': 'reported',
       'organization': '',
       'rank': 1}],
     'organization': None},
    'type_of_material': 'News',
    '_id': 'nyt://article/22c168bf-54df-52e3-bfff-597aa2d0e4e1',
    'word_count': 805,
    'uri': 'nyt://article/22c168bf-54df-52e3-bfff-597aa2d0e4e1'},
   {'web_url': 'https://www.nytimes.com/2009/07/13/world/europe/13sweden.html',
    'snippet': 'Two Swedish grandmothers, berry pickers and amateur geologists, found what may be the largest gold deposits in Europe right outside their tiny town.',
    'lead_paragraph': 'OVERTURINGEN, Sweden \x97 It was a lousy blueberry season in 2007, said Siv Wiik, 70, one of a pair of Swedish grandmothers now credited with discovering what experts say may be one of the richest gold deposits in Europe. “That year it was too cold in the spring, so there were few berries,” she said. ',
    'abstract': 'Two Swedish grandmothers, berry pickers and amateur geologists, found what may be the largest gold deposits in Europe right outside their tiny town.',
    'print_page': '9',
    'source': 'The New York Times',
    'multimedia': [{'rank': 0,
      'subtype': 'xlarge',
      'caption': None,
      'credit': None,
      'type': 'image',
      'url': 'images/2009/07/13/world/13sweden_600.jpg',
      'height': 436,
      'width': 600,
      'legacy': {'xlarge': 'images/2009/07/13/world/13sweden_600.jpg',
       'xlargewidth': 600,
       'xlargeheight': 436},
      'subType': 'xlarge',
      'crop_name': 'articleLarge'},
     {'rank': 0,
      'subtype': 'popup',
      'caption': None,
      'credit': None,

In [28]:
articles_df

Empty DataFrame
Columns: []
Index: []

In [35]:
if articles['response']['docs'] == []: hyj = 1

In [36]:
hyj

NameError: name 'hyj' is not defined

In [37]:
articles = parse_articles(articles)

NameError: name 'parse_articles' is not defined

In [42]:
articles_df = scarp_articles_text(articles_df)
articles_df.tail()

Scarping articles body text...
Done!

,atype,date,url,word_count,article_text
9,Obituary (Obit),2015-01-31,https://www.nytimes.com/2015/02/01/world/europ...,918,
10,News,2017-01-19,https://www.nytimes.com/2017/01/19/world/europ...,526,
11,News,2018-01-23,https://www.nytimes.com/2018/01/23/world/asia/...,790,
12,News,2019-01-02,https://www.nytimes.com/2019/01/02/world/europ...,1288,
13,News,2019-01-18,https://www.nytimes.com/2019/01/18/world/europ...,849,

In [46]:
export_csv = articles_df.to_csv (r'C:\Users\anton\Documents\work\workIA\coding\fIncubator\stage02\myProject\data\dumpFroJupyterLead.csv', index = None, header=True)

In [93]:
import time

In [69]:
time_string = "20180621"
result = time.strptime(time_string, "%Y%m%d")

In [74]:
epochseconds = time.mktime(result)
deltaDay = 60*60*24
nextDayEpoch = epochsec+deltaDay
nexDay = time.localtime(nextDayEpoch)

In [79]:
nextDay= time.strftime('%Y%m%d', nexDay)

In [80]:
nextDay

'20180622'

In [94]:
def get_nextday(today):
    todayStruct = time.strptime(today, '%Y%m%d')
    epochseconds = time.mktime(todayStruct)
    deltaDay = 60*60*24
    nextDayEpoch = epochseconds+deltaDay
    nexDayStruct = time.localtime(nextDayEpoch)
    nextDay= time.strftime('%Y%m%d', nexDayStruct)
    return nextDay

In [85]:
get_nextday('20191102')

'20191103'

In [5]:
def get_articles_url(api, start_day, end_day):
    
    all_articles = []
    day = start_day
    
    print('Retrieving articles URL...'),
    
    #Loop through all years of interest
    while day != end_day:
        
        # Some pages might return a 'No JSON object could be decoded'
        # Example: country = Turkey, year = 1998, page 4
        # To keep this error from stopping the loop a try/except was used.
        for i in range(0,2):

            try:
                # Call API method with the parameters discussed on the README file
                articles = api.search(
                    fq = {'source':['The New York Times'],                           
                          'news_desk':('Business')}, 
                    begin_date = day, 
                    end_date = day, 
                    sort = 'oldest', page = str(i))
                
                # Check if page is empty
                if articles['response']['docs'] == []: break
                
                articles = parse_articles(articles)
                all_articles = all_articles + articles
                
            except Exception:

                pass
            
            # Avoid overwhelming the API
            time.sleep(1)
            
        day = get_nextday(day)
    
    # Copy all articles on the list to a Pandas dataframe
    articles_df = pd.DataFrame(all_articles)
    
    # Make sure we filter out non-news articles and remove 'atype' column
    #articles_df = articles_df.drop(articles_df[articles_df.atype != 'News'].index)
    #articles_df.drop('atype', axis = 1, inplace = True)
    
    # Discard non-working links (their number of word_count is 0).
    # Example: http://www.nytimes.com/2001/11/06/world/4-die-during-police-raid-in-istanbul.html
   # articles_df = articles_df[articles_df.word_count != 0]
    articles_df = articles_df.reset_index(drop = True)
    
    print('Done!')
    
    return(articles_df)

In [6]:
start_day = '20191101'
end_day = '20191102'
#articles_df = get_articles_url(api, start_day, end_day)
#articles_df.tail()

In [101]:
export_csv = articles_df.to_csv (r'C:\Users\anton\Documents\work\workIA\coding\fIncubator\stage02\myProject\data\dumpFroJupyterBusiness01-10.csv', index = None, header=True)

In [15]:
articles = api.search(q="plentiful",
                    fq={}, 
                    begin_date = '20191101', 
                    end_date = '20191102', 
                    sort = 'oldest', page = str(1))

In [3]:
api = articleAPI('UC0yZec7sBIqmDUSCvPnRLQYFso1bocD')

In [16]:
articles

{'status': 'OK',
 'copyright': 'Copyright (c) 2019 The New York Times Company. All Rights Reserved.',
 'response': {'docs': [], 'meta': {'hits': 1, 'offset': 10, 'time': 5}}}